body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3 {
    color: #007bff;
  }
  
  /* Puedes agregar más estilos para personalizar tu navbar, enlaces, etc. */
  